@import 'variables';
@font-face {
    font-family: MagicalMistery;
    src: url(./assets/MagicalMystery.ttf) format("opentype");
}

@font-face {
    font-family: PTSerif;
    src: url(./assets/PTSerif-Regular.ttf) format("opentype");
}

h1,
h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: MagicalMistery;
}

p,
label {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: PTSerif;
}

.fondoGeneral {
    background-color: #e2cddc;
}

h1,
h2,
h3,
h4,
h5,
p,
label {
    color: #b02261;
}

button {
    background-color: #b02261;
}

.tituloLogo {
    background: linear-gradient(rgb(135, 53, 230), rgb(255, 0, 200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #000000);
}

.logo {
    max-width: 200px;
}

.fondoHeaderYFooter {
    background-color: #5d498b;
    color: white;
}