<div class="container-fluid">
    <div class="row py-3 px-3">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid" src={{imagen}}>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 fondoGeneral">
            <form [formGroup]="nuevoUsuario" (ngSubmit)="onSubmit()">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-8">
                        <div class="row pt-5 d-flex justify-content-center">
                            <h1 class="col-12 text-center tituloLogo">{{nombre}}</h1>
                            <img class="logo" src={{logo}}>
                            <h2 class="col-12 pt-3 text-center">{{titulo}}</h2>
                        </div>

                        <div class="col-12  pt-3">
                            <label class="form-label">Nombre:</label>
                        </div>

                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="nombre">
                        </div>

                        <!--Validacion Nombre-->
                        <div *ngIf="submitted && formulario['nombre'].errors">

                            <div class="col-12">
                                <div *ngIf="formulario['nombre'].errors['required']">El nombre no puede estar vacio</div>
                            </div>

                        </div>

                        <div class="col-12  pt-3">
                            <label class="form-label">Nick:</label>
                        </div>

                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="nick">
                        </div>

                        <!--Validacion Nick-->
                        <div *ngIf="submitted && formulario['nick'].errors">

                            <div class="col-12 text-center">
                                <div *ngIf="formulario['nick'].errors['required']">El nick no puede estar vacio</div>
                            </div>
                        </div>

                        <div class="col-12  pt-3">
                            <label class="form-label" for="exampleInputEmail1">Correo:</label>
                        </div>

                        <div class="col-12">
                            <input class="form-control" type="email" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="correo">
                        </div>

                        <!--Validacion Email-->
                        <div *ngIf="submitted && formulario['correo'].errors">

                            <div class="col-12">
                                <div *ngIf="formulario['correo'].errors['required']">El email no puede estar vacio</div>
                                <div *ngIf="formulario['correo'].errors['correo']">El email debe ser un email valido</div>
                            </div>
                        </div>


                        <div class="col-12  pt-3">
                            <label class="form-label">Edad:</label>
                        </div>

                        <div class="col-12">
                            <input class="form-control" type="number" formControlName="edad">
                        </div>

                        <!--Validacion Edad-->
                        <div *ngIf="submitted && formulario['edad'].errors">

                            <div class="col-12">
                                <div *ngIf="formulario['edad'].errors['required']">La edad no puede estar vacia</div>
                            </div>
                        </div>


                        <div class="col-12  pt-3">
                            <label class="form-label">Ciudad:</label>
                        </div>



                        <div class="col-12">
                            <input class="form-control" type="text" formControlName="ciudad">
                        </div>

                        <!--Validacion Ciudad-->
                        <div *ngIf="submitted && formulario['ciudad'].errors">

                            <div class="col-12">
                                <div *ngIf="formulario['ciudad'].errors['required']">La ciudad no puede estar vacia</div>
                            </div>

                        </div>

                        <div class="col-12  pt-3">
                            <label class="col-12 col-sm-12 col-md-12 col-lg-12" for="exampleInputPassword1" class="form-label">Contraseña:</label>
                        </div>


                        <div class="col-12">
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        </div>

                        <!--Validacion Password-->
                        <div *ngIf="submitted && formulario['password'].errors">

                            <div class="col-12">
                                <div *ngIf="formulario['password'].errors['required']"> La contraseña no puede estar vacia</div>
                                <div *ngIf="formulario['password'].errors['pattern']">La contraseña debe tener al menos un dígito, una minúscula, una mayúscula y tener como mínimo 8 caracteres</div>

                            </div>
                        </div>

                        <div class="col-12  pt-3">
                            <label for="exampleInputPassword1" class="form-label">Repite Contraseña:</label>
                        </div>

                        <div class="col-12 ">
                            <input type="password" class="form-control" id="exampleInputPassword1" formControlName="passRepeat" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
                        </div>

                        <!--Validacion Password 2-->
                        <div *ngIf="submitted && formulario['passRepeat'].errors">
                            <div class="col-12">
                                <div *ngIf="formulario['passRepeat'].errors['required']"> La contraseña no puede estar vacia</div>
                                <div *ngIf="formulario['passRepeat'].errors['pattern']">La contraseña debe tener al menos un dígito, una minúscula, una mayúscula y tener como mínimo 8 caracteres</div>
                            </div>
                        </div>

                        <div class="col-12  pt-3">
                            <label class="form-label">Genero:</label>
                        </div>

                        <div class="col-12">
                            <select class="form-select" aria-label="Default select example" formControlName="id_genero">
                                        <option value="1" selected>Hombre</option>
                                        <option value="2">Mujer</option>
                                        <option value="3">Ambos</option>
                                        </select>
                        </div>

                    </div>
                </div>
                <div class="row pt-4 d-flex justify-content-center">
                    <button class="col-12 col-sm-12 col-md-3 col-lg-2 btn btn-primary mb-2" type="submit">Registrar</button>
                </div>

                <div class="row pt-2  d-flex justify-content-center border-top border-white">
                    <button class="col-12 col-sm-12 col-md-3 col-lg-2 btn btn-primary mb-2 mx-2" type="submit" (click)="onVolver()">Volver</button>
                </div>
                <app-avisos></app-avisos>
            </form>
        </div>
    </div>
</div>